@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');


.titulo p{
    color: rgb(187, 7, 7);
    display: flex;
    display: block;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.titulo2 {
    color: rgb(82, 13, 128);
    font-family: 'Inter', sans-serif;
    font-style: bold;
    text-align: center;
    padding-top:50px;
    padding-bottom: 10px;
    font-size: 25px;
}

.contenedor {
    display: flex;
    display: block;
    text-align: center;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.header {
    align-content: center;
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 40px;
    margin-bottom: 30px;
}

main .titulo h1 {
    color: rgb(187, 7, 7);
}
h1 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}
.testimoniosTexto {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
}

.Testimonios {
    color: #000000;
    text-align: center;
}

.testimonios_cards {
    width: 30%;
    display: inline-block;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.testimonios_cards p {
    margin-top: 25px;
    color:rgb(187, 7, 7);
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border:rgb(187, 7, 7) 5px dashed;
}

.testimonios_cards img {
    width: 180px;
    border-radius: 100px;
}

.bloque {
    width: 20%;
    align-items: flex-start;
    display: flex;
    display: inline-block;
    padding-left: 50px;
    padding-right: 30px;
    margin-top: 20px;
}

.mb-3 {
    width: 20%;
    align-items: flex-start;
    display: flex;
    display: inline-block;
    padding-left: 50px;
    padding-right: 30px;
}

.btn-primary {
    width: 8%;
    color: rgb(255, 255, 255);
    background-color: rgb(187, 7, 7);
    border-radius: 8px;
    border-color: rgb(131, 7, 7);
    margin-right: 30px;
    border-style: dashed;
    
}




@media only screen and (max-width: 1100px) {
.galeria {
grid-template-columns: 1fr 1fr 1fr;
}
.texto-conocenuestrosproductos {
font-size: 16px;
}
.header {
font-size: 12px;
}
}